html, body {
  margin: 0; padding: 0;
}
html, body {
  height: 100%;
}

.scene {
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
}

.background {
  background-image: url("../img/background.png");
  z-index: -2;
}

.owl {
  background-image: url("../img/owl/owl1.png");
  background-color: transparent;
  opacity: 0;
  transition: opacity 1s;  
  z-index: -1;
}

.visible {
  opacity: 1;
}
.invisible {
  display: none;
}

#lightning {
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  pointer-events: none;
  z-index: 2;
}

#letterbox {
  background-image: url("../img/letterbox.png");
  z-index: 3;
}

#psych-background {
  background-image: url(../img/alt-background.png);
  z-index: -3;
}

canvas[resize] {
  width: 100%;
  height: 100%;
  }

canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}
